<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>ENTER YOUR TEXT TO REMOVE PUNCTUATION</h1>
<form action="/analyse" method="get">
    <textarea name="text" style="margin: 0px; width: 1202px; height: 225px;"> enter the text here</textarea><BR>
    <H3>CHECK ALL THE BOXES OR CHECK ONE </H3>
    <input type="checkbox" name="removepunc"> CHECK THE BOX BEFORE ANALYSING THE TEXT<BR>
    <input type="checkbox" name="capatalise">CHECK THE BOX FOR CAPATALISING THE TEXT<BR>
    <input type="checkbox" name="newlineremover"> CHECK THE BOX TO APPLY NEW LINE REMOVER<BR>
    <input type="checkbox" name="charactercount">CHECK THE BOX TO GET THE NO OF CHARACTER<BR>
    <input type="checkbox" name="spaceremover">CHECK THE BOX TO REMOVE UNWANTED SPACES<BR>
    <button type="submit">submit</button>
</form>


</body>
</html>


def index ( request ) :
    return render(request,'index.html')
def analyse(request):
    djtext = request.GET.get('text','default')
    removepunc = request.GET.get('removepunc','off')
    capatalise = request.GET.get('capatalise','off')
    newlineremover = request.GET.get('newlineremover', 'off')
    charactercount = request.GET.get('charactercount', 'off')
    spaceremover = request.GET.get('spaceremover', 'off')

    if capatalise == 'on' and removepunc == 'on' and charactercount == 'on':
        analysed = ''
        for char in djtext:
            if char not in result:
                analysed = analysed + char.upper()
        char_count = len(djtext)
        params = {'analysed_text': analysed,'char_count':char_count}

        return render(request, 'analyse.html',params)

    elif removepunc == 'on':
         analysed = ''
         for char in djtext:
             if char not in result:
                 analysed = analysed + char
         params={'analysed_text':analysed}
         return render(request, 'analyse.html', params)
    elif capatalise == 'on':
        capatalised =''
        for char in djtext:
            capatalised = capatalised + char.upper()
        params = {'analysed_text': capatalised}
        return render(request, 'analyse.html',params)
    elif newlineremover == 'on':
        analysed=''
        for char in djtext:
            analysed = analysed+char
        params={'analysed_text':analysed}
        return render(request,'analyse.html',params)
    elif charactercount == 'on':
        char_count = len(djtext)
        params = {'char_count':char_count}
        return render(request, 'analyse.html', params)
    elif spaceremover == 'on':
        analysed=""
        for index, char in enumerate(djtext):
            if djtext[index] == " " and djtext[index+1] == " ":
                pass
            else:
                analysed = analysed + char
                params = { ' analysed_text ' : analysed}
        return render(request,'analyse.html',params)

    else:
        return HttpResponse("error")



